<!-- {% extends 'home.html' %} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- head section contents -->
</head>

<body>
    <!-- {% block content %} -->
    <center>
        <h1 style="margin-top: 30px;">Movie Details</h1><br>
        <h2>Selected Seats:</h2>
        <ul>
            {% for seat in selected_seats %}
            {{ seat }},
            {% endfor %}
        </ul><br>

        <h2>Shift:</h2>
        <p>{{shift}}</p><br>

        <h2>Total Price: </h2>
        <p>Rs. {{total_price}}</p><br>
        <!-- other moviedetails as needed -->

        <form action="https://esewa.com.np/epay/main" method="POST" id="payment-form">
            <input value="{{ total_price }}" name="tAmt" type="hidden">
            <input value="{{ total_price }}" name="amt" type="hidden">
            <input value="0" name="txAmt" type="hidden">
            <input value="0" name="psc" type="hidden">
            <input value="0" name="pdc" type="hidden">
            <input value="EPAYTEST" name="scd" type="hidden">
            <input value="epay_payment" name="su" type="hidden">
            <input value="epay_payment" name="fu" type="hidden">
            <button type="submit" class="btn btn-success">Payment through esewa</button>
        </form>
    </center>
    <!-- {% endblock %} --> 
</body>

</html>